<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>MemberManager</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  
  <context-param>
  <!-- description없어도 ㅇㅋ -->
  	<description>logEnabled</description>
  	<param-name>logEnabled</param-name>
  	<param-value>true</param-value>
  </context-param>
  
  <context-param>
  	<param-name>debugLevel</param-name>
  	<param-value>5</param-value>
  </context-param>
  
  
 <!--  
  <servlet>
  	<servlet-name>JDBCDriverLoader</servlet-name>
  	<servlet-class>jdbc.Loader</servlet-class>

  	<init-param>
  		<param-name>jdbcDriver</param-name>
  		<param-value>com.mysql.cj.jdbc.Driver</param-value>
  	</init-param>
  	
  	 //톰캣이 시작할 때 서블릿을 몇번 실행할거니~? 임.
  	<load-on-startup>1</load-on-startup>  

  </servlet>
  --> 


  <servlet>
  	<servlet-name>DBCPInit</servlet-name>
  	<servlet-class>jdbc.DBCPInit</servlet-class>
  	
  	<load-on-startup>1</load-on-startup>
  </servlet>

</web-app>